Source: prometheus-statsd-exporter
Section: devel
Priority: extra
Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Uploaders: Giuseppe Lavagetto <glavagetto@wikimedia.org>
Build-Depends: debhelper (>= 10),
               dh-golang,
               golang-any,
               golang-github-howeyc-fsnotify-dev,
               golang-github-prometheus-client-golang-dev,
               golang-github-prometheus-common-dev,
               golang-gopkg-yaml.v2-dev,
               golang-github-datadog-datadog-go-dev
Standards-Version: 4.0.0
Homepage: https://github.com/prometheus/statsd_exporter
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-go/packages/statsd-exporter.git
Vcs-Git: https://anonscm.debian.org/git/pkg-go/packages/statsd-exporter.git
XS-Go-Import-Path: github.com/prometheus/statsd_exporter
Testsuite: autopkgtest-pkg-go

Package: prometheus-statsd-exporter
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: StatsD to Prometheus metrics exporter
 statsd_exporter receives StatsD-style metrics and exports them
 as Prometheus metrics.  OverviewWith StatsD To pipe metrics
 from an existing StatsD environment into Prometheus, configure
 StatsD's repeater backend to repeat all received metrics to a
 statsd_exporter process. This exporter translates StatsD metrics
 to Prometheus metrics via configured mapping rules.

